# Advance House Price Prediction Using Pytorch

In [1]:
# Lets import torch
import torch

In [2]:
# Version check
torch.__version__

'1.5.1+cpu'

### Loading the dataset

In [3]:
import pandas as pd
df=pd.read_csv('houseprice.csv',usecols=["SalePrice", "MSSubClass", "MSZoning", "LotFrontage", "LotArea",
                                         "Street", "YearBuilt", "LotShape", "1stFlrSF", "2ndFlrSF"]).dropna()

In [4]:
# Lets see the first five rows
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,YearBuilt,1stFlrSF,2ndFlrSF,SalePrice
0,60,RL,65.0,8450,Pave,Reg,2003,856,854,208500
1,20,RL,80.0,9600,Pave,Reg,1976,1262,0,181500
2,60,RL,68.0,11250,Pave,IR1,2001,920,866,223500
3,70,RL,60.0,9550,Pave,IR1,1915,961,756,140000
4,60,RL,84.0,14260,Pave,IR1,2000,1145,1053,250000

In [5]:
# Lets check some informations about the features
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSSubClass   1201 non-null   int64
 1   MSZoning     1201 non-null   object
 2   LotFrontage  1201 non-null   float64
 3   LotArea      1201 non-null   int64
 4   Street       1201 non-null   object
 5   LotShape     1201 non-null   object
 6   YearBuilt    1201 non-null   int64
 7   1stFlrSF     1201 non-null   int64
 8   2ndFlrSF     1201 non-null   int64
 9   SalePrice    1201 non-null   int64
dtypes: float64(1), int64(6), object(3)
memory usage: 103.2+ KB

### Feature Engineering

In [6]:
# Lets see the unique values of all features
for i in df.columns:
    print("Column name is {} and unique values are {}".format(i, len(df[i].unique())))

Column name is MSSubClass and unique values are 15
Column name is MSZoning and unique values are 5
Column name is LotFrontage and unique values are 110
Column name is LotArea and unique values are 869
Column name is Street and unique values are 2
Column name is LotShape and unique values are 4
Column name is YearBuilt and unique values are 112
Column name is 1stFlrSF and unique values are 678
Column name is 2ndFlrSF and unique values are 368
Column name is SalePrice and unique values are 597

In [7]:
# Lets handle the Year column
import datetime
datetime.datetime.now().year

2021

In [8]:
df["Total Years"] = datetime.datetime.now().year - df["YearBuilt"]

In [9]:
# Lets drop the YearBuilt feature as it is not that important now
df.drop("YearBuilt", axis = 1, inplace = True)

In [10]:
# Lets see the features now
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', '1stFlrSF', '2ndFlrSF', 'SalePrice', 'Total Years'],
      dtype='object')

In [11]:
# Lets seperate the categorical features and target feature
cat_features = ["MSSubClass", "MSZoning", "Street", "LotShape"]
out_feature = "SalePrice"

In [12]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
lbl_encoders = {}
for feature in cat_features:
    lbl_encoders[feature] = LabelEncoder()
    df[feature] = lbl_encoders[feature].fit_transform(df[feature])

In [13]:
# Lets see the data
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,1stFlrSF,2ndFlrSF,SalePrice,Total Years
0,5,3,65.0,8450,1,3,856,854,208500,18
1,0,3,80.0,9600,1,3,1262,0,181500,45
2,5,3,68.0,11250,1,0,920,866,223500,20
3,6,3,60.0,9550,1,0,961,756,140000,106
4,5,3,84.0,14260,1,0,1145,1053,250000,21
...,...,...,...,...,...,...,...,...,...,...
1455,5,3,62.0,7917,1,3,953,694,175000,22
1456,0,3,85.0,13175,1,3,2073,0,210000,43
1457,6,3,66.0,9042,1,3,1188,1152,266500,80
1458,0,3,68.0,9717,1,3,1078,0,142125,71
1459,0,3,75.0,9937,1,3,1256,0,147500,56

In [14]:
# Stacking and converting into tensors
import numpy as np
cat_features = np.stack([df["MSSubClass"], df["MSZoning"], df["Street"], df["LotShape"]], 1)
cat_features

array([[5, 3, 1, 3],
       [0, 3, 1, 3],
       [5, 3, 1, 0],
       ...,
       [6, 3, 1, 3],
       [0, 3, 1, 3],
       [0, 3, 1, 3]], dtype=int64)

In [15]:
# Converting numpy to tensors
cat_features = torch.tensor(cat_features, dtype = torch.int64)
cat_features

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        ...,
        [6, 3, 1, 3],
        [0, 3, 1, 3],
        [0, 3, 1, 3]])

In [16]:
# Lets seperate the continuous features
cont_features = []
for i in df.columns:
    if i in ["MSSubClass", "MSZoning", "Street", "LotShape", "SalePrice"]:
        pass
    else:
        cont_features.append(i)

In [17]:
# Lets check the continuous features
cont_features

['LotFrontage', 'LotArea', '1stFlrSF', '2ndFlrSF', 'Total Years']

In [18]:
# Stacking continuous features into tensor
cont_values = np.stack([df[i].values for i in cont_features], axis = 1)
cont_values = torch.tensor(cont_values, dtype = torch.float)
cont_values

tensor([[   65.,  8450.,   856.,   854.,    18.],
        [   80.,  9600.,  1262.,     0.,    45.],
        [   68., 11250.,   920.,   866.,    20.],
        ...,
        [   66.,  9042.,  1188.,  1152.,    80.],
        [   68.,  9717.,  1078.,     0.,    71.],
        [   75.,  9937.,  1256.,     0.,    56.]])

In [19]:
# Lets check the datatype
cont_values.dtype

torch.float32

In [20]:
# Lets convert the target feature into tensor
y = torch.tensor(df["SalePrice"].values, dtype = torch.float).reshape(-1,1)
y

tensor([[208500.],
        [181500.],
        [223500.],
        ...,
        [266500.],
        [142125.],
        [147500.]])

In [21]:
# Lets see the information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1201 entries, 0 to 1459
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MSSubClass   1201 non-null   int64
 1   MSZoning     1201 non-null   int32
 2   LotFrontage  1201 non-null   float64
 3   LotArea      1201 non-null   int64
 4   Street       1201 non-null   int32
 5   LotShape     1201 non-null   int32
 6   1stFlrSF     1201 non-null   int64
 7   2ndFlrSF     1201 non-null   int64
 8   SalePrice    1201 non-null   int64
 9   Total Years  1201 non-null   int64
dtypes: float64(1), int32(3), int64(6)
memory usage: 89.1 KB

In [22]:
# Lets see the shapes of the categorical, continuous and the target features
cat_features.shape, cont_values.shape, y.shape

(torch.Size([1201, 4]), torch.Size([1201, 5]), torch.Size([1201, 1]))

### Embedding size for categorical columns

In [23]:
# Lets see the unique values of each categorical feature
cat_dims = [len(df[col].unique()) for col in ["MSSubClass", "MSZoning", "Street", "LotShape"]]
cat_dims

[15, 5, 2, 4]

In [24]:
# Lets select the input and the output dimensions

embedding_dim = [(x, min(50, (x + 1) // 2)) for x in cat_dims]
embedding_dim

[(15, 8), (5, 3), (2, 1), (4, 2)]

In [25]:
# Lets import the torch libraries
import torch.nn as nn
import torch.nn.functional as F
embed_representation=nn.ModuleList([nn.Embedding(inp,out) for inp,out in embedding_dim])
embed_representation

ModuleList(
  (0): Embedding(15, 8)
  (1): Embedding(5, 3)
  (2): Embedding(2, 1)
  (3): Embedding(4, 2)
)

In [26]:
# Categorical features
cat_features

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        ...,
        [6, 3, 1, 3],
        [0, 3, 1, 3],
        [0, 3, 1, 3]])

In [27]:
# Lets see the first four rows
catfeatures = cat_features[:4]
catfeatures

tensor([[5, 3, 1, 3],
        [0, 3, 1, 3],
        [5, 3, 1, 0],
        [6, 3, 1, 0]])

In [28]:
# Embedding
pd.set_option('display.max_rows', 500)
embedding_val=[]
for i,e in enumerate(embed_representation):
    embedding_val.append(e(cat_features[:,i]))

In [29]:
# Lets see the embedding_val
embedding_val

[tensor([[-1.5918, -0.0265,  0.8832,  ..., -0.5375, -0.9647, -0.4923],
         [-0.6486,  3.8315,  0.1318,  ...,  0.7655,  0.1837,  0.1132],
         [-1.5918, -0.0265,  0.8832,  ..., -0.5375, -0.9647, -0.4923],
         ...,
         [ 0.7877, -0.8106,  0.5398,  ...,  1.5288,  0.9763, -0.2729],
         [-0.6486,  3.8315,  0.1318,  ...,  0.7655,  0.1837,  0.1132],
         [-0.6486,  3.8315,  0.1318,  ...,  0.7655,  0.1837,  0.1132]],
        grad_fn=<EmbeddingBackward>),
 tensor([[-1.0007, -1.1900, -0.7499],
         [-1.0007, -1.1900, -0.7499],
         [-1.0007, -1.1900, -0.7499],
         ...,
         [-1.0007, -1.1900, -0.7499],
         [-1.0007, -1.1900, -0.7499],
         [-1.0007, -1.1900, -0.7499]], grad_fn=<EmbeddingBackward>),
 tensor([[0.2276],
         [0.2276],
         [0.2276],
         ...,
         [0.2276],
         [0.2276],
         [0.2276]], grad_fn=<EmbeddingBackward>),
 tensor([[ 0.0814,  0.1626],
         [ 0.0814,  0.1626],
         [-0.2939, -0.1433],
         ...,
         [ 0.0814,  0.1626],
         [ 0.0814,  0.1626],
         [ 0.0814,  0.1626]], grad_fn=<EmbeddingBackward>)]

In [30]:
# Lets stack them column wise
z = torch.cat(embedding_val, axis = 1)
z

tensor([[-1.5918, -0.0265,  0.8832,  ...,  0.2276,  0.0814,  0.1626],
        [-0.6486,  3.8315,  0.1318,  ...,  0.2276,  0.0814,  0.1626],
        [-1.5918, -0.0265,  0.8832,  ...,  0.2276, -0.2939, -0.1433],
        ...,
        [ 0.7877, -0.8106,  0.5398,  ...,  0.2276,  0.0814,  0.1626],
        [-0.6486,  3.8315,  0.1318,  ...,  0.2276,  0.0814,  0.1626],
        [-0.6486,  3.8315,  0.1318,  ...,  0.2276,  0.0814,  0.1626]],
       grad_fn=<CatBackward>)

In [31]:
# Lets implement dropout
dropout = nn.Dropout(0.4)

In [32]:
# Lets add the dropout to z
final_embed = dropout(z)
final_embed

tensor([[-2.6529, -0.0441,  0.0000,  ...,  0.3793,  0.0000,  0.2711],
        [-1.0810,  0.0000,  0.2196,  ...,  0.0000,  0.1357,  0.2711],
        [-0.0000, -0.0000,  1.4721,  ...,  0.0000, -0.0000, -0.2389],
        ...,
        [ 1.3128, -1.3510,  0.0000,  ...,  0.3793,  0.0000,  0.0000],
        [-0.0000,  6.3858,  0.0000,  ...,  0.0000,  0.0000,  0.2711],
        [-1.0810,  6.3858,  0.0000,  ...,  0.3793,  0.1357,  0.0000]],
       grad_fn=<MulBackward0>)

### Creating a Feed Forward Neural Network

In [33]:
class FeedForwardNN(nn.Module):
    
    def __init__(self, embedding_dim, n_cont, out_sz, layers, p = 0.5 ):
        super().__init__()
        self.embeds = nn.ModuleList([nn.Embedding(inp,out) for inp,out in embedding_dim])
        self.emb_drop = nn.Dropout(p)
        self.bn_cont = nn.BatchNorm1d(n_cont)
        
        layerlist = []
        n_emb = sum((out for inp,out in embedding_dim))
        n_in = n_emb + n_cont
        
        for i in layers:
            layerlist.append(nn.Linear(n_in,i))
            layerlist.append(nn.ReLU(inplace=True))
            layerlist.append(nn.BatchNorm1d(i))
            layerlist.append(nn.Dropout(p))
            n_in = i
            
        layerlist.append(nn.Linear(layers[-1],out_sz))
        
        self.layers = nn.Sequential(*layerlist)
        
        
    def forward(self, x_cat, x_cont):
        embeddings = []
        for i,e in enumerate(self.embeds):
            embeddings.append(e(x_cat[:,i]))
        x = torch.cat(embeddings, 1)
        x = self.emb_drop(x)
        
        x_cont = self.bn_cont(x_cont)
        x = torch.cat([x, x_cont], 1)
        x = self.layers(x)
        return x

In [34]:
torch.manual_seed(100)
model = FeedForwardNN(embedding_dim,len(cont_features),1,[100,50],p=.4)

In [35]:
# Lets see the model
model

FeedForwardNN(
  (embeds): ModuleList(
    (0): Embedding(15, 8)
    (1): Embedding(5, 3)
    (2): Embedding(2, 1)
    (3): Embedding(4, 2)
  )
  (emb_drop): Dropout(p=0.4, inplace=False)
  (bn_cont): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=19, out_features=100, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.4, inplace=False)
    (4): Linear(in_features=100, out_features=50, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.4, inplace=False)
    (8): Linear(in_features=50, out_features=1, bias=True)
  )
)

In [36]:
# Lets define loss and optimizer
loss_function = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr = 0.01)

In [37]:
# train test split
batch_size = 1200
test_size = int(batch_size * 0.15)
train_categorical = cat_features[: batch_size - test_size]
test_categorical = cat_features[batch_size - test_size : batch_size]
train_cont = cont_values[: batch_size - test_size]
test_cont = cont_values[batch_size - test_size : batch_size]
y_train = y[: batch_size - test_size]
y_test = y[batch_size - test_size :batch_size]

In [38]:
# Lets see the lengths of the above variables
len(train_categorical), len(test_categorical), len(train_cont), len(test_cont), len(y_train), len(y_test)

(1020, 180, 1020, 180, 1020, 180)

In [39]:
# Model training
epochs = 3000
final_losses = []
for i in range(epochs):
    i = i + 1
    y_pred = model(train_categorical, train_cont)
    loss = torch.sqrt(loss_function(y_pred, y_train))
    final_losses.append(loss)
    if i%10 == 1:
        print("Epoch number: {} and the Loss: {}".format(i,loss.item()))
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

Epoch number: 1 and the Loss: 200496.78125
Epoch number: 11 and the Loss: 200496.375
Epoch number: 21 and the Loss: 200496.03125
Epoch number: 31 and the Loss: 200495.75
Epoch number: 41 and the Loss: 200495.515625
Epoch number: 51 and the Loss: 200495.125
Epoch number: 61 and the Loss: 200494.8125
Epoch number: 71 and the Loss: 200494.515625
Epoch number: 81 and the Loss: 200494.21875
Epoch number: 91 and the Loss: 200493.875
Epoch number: 101 and the Loss: 200493.484375
Epoch number: 111 and the Loss: 200493.03125
Epoch number: 121 and the Loss: 200492.78125
Epoch number: 131 and the Loss: 200492.390625
Epoch number: 141 and the Loss: 200491.953125
Epoch number: 151 and the Loss: 200491.546875
Epoch number: 161 and the Loss: 200491.046875
Epoch number: 171 and the Loss: 200490.5625
Epoch number: 181 and the Loss: 200490.109375
Epoch number: 191 and the Loss: 200489.671875
Epoch number: 201 and the Loss: 200489.046875
Epoch number: 211 and the Loss: 200488.640625
Epoch number: 221 and the Loss: 200487.9375
Epoch number: 231 and the Loss: 200487.359375
Epoch number: 241 and the Loss: 200486.703125
Epoch number: 251 and the Loss: 200486.0625
Epoch number: 261 and the Loss: 200485.359375
Epoch number: 271 and the Loss: 200484.609375
Epoch number: 281 and the Loss: 200484.109375
Epoch number: 291 and the Loss: 200483.4375
Epoch number: 301 and the Loss: 200482.46875
Epoch number: 311 and the Loss: 200481.609375
Epoch number: 321 and the Loss: 200481.140625
Epoch number: 331 and the Loss: 200479.625
Epoch number: 341 and the Loss: 200479.265625
Epoch number: 351 and the Loss: 200478.484375
Epoch number: 361 and the Loss: 200477.328125
Epoch number: 371 and the Loss: 200476.40625
Epoch number: 381 and the Loss: 200475.0
Epoch number: 391 and the Loss: 200474.734375
Epoch number: 401 and the Loss: 200473.40625
Epoch number: 411 and the Loss: 200472.21875
Epoch number: 421 and the Loss: 200471.328125
Epoch number: 431 and the Loss: 200469.796875
Epoch number: 441 and the Loss: 200468.890625
Epoch number: 451 and the Loss: 200468.234375
Epoch number: 461 and the Loss: 200466.21875
Epoch number: 471 and the Loss: 200465.890625
Epoch number: 481 and the Loss: 200464.25
Epoch number: 491 and the Loss: 200462.5625
Epoch number: 501 and the Loss: 200462.171875
Epoch number: 511 and the Loss: 200460.21875
Epoch number: 521 and the Loss: 200459.015625
Epoch number: 531 and the Loss: 200457.609375
Epoch number: 541 and the Loss: 200456.203125
Epoch number: 551 and the Loss: 200454.546875
Epoch number: 561 and the Loss: 200452.96875
Epoch number: 571 and the Loss: 200451.234375
Epoch number: 581 and the Loss: 200449.140625
Epoch number: 591 and the Loss: 200447.796875
Epoch number: 601 and the Loss: 200446.875
Epoch number: 611 and the Loss: 200444.890625
Epoch number: 621 and the Loss: 200443.375
Epoch number: 631 and the Loss: 200440.78125
Epoch number: 641 and the Loss: 200439.6875
Epoch number: 651 and the Loss: 200437.6875
Epoch number: 661 and the Loss: 200435.765625
Epoch number: 671 and the Loss: 200434.640625
Epoch number: 681 and the Loss: 200431.8125
Epoch number: 691 and the Loss: 200429.25
Epoch number: 701 and the Loss: 200427.53125
Epoch number: 711 and the Loss: 200427.0625
Epoch number: 721 and the Loss: 200424.8125
Epoch number: 731 and the Loss: 200422.296875
Epoch number: 741 and the Loss: 200420.234375
Epoch number: 751 and the Loss: 200418.171875
Epoch number: 761 and the Loss: 200416.421875
Epoch number: 771 and the Loss: 200413.9375
Epoch number: 781 and the Loss: 200411.65625
Epoch number: 791 and the Loss: 200409.75
Epoch number: 801 and the Loss: 200406.78125
Epoch number: 811 and the Loss: 200404.96875
Epoch number: 821 and the Loss: 200404.28125
Epoch number: 831 and the Loss: 200401.25
Epoch number: 841 and the Loss: 200397.578125
Epoch number: 851 and the Loss: 200397.234375
Epoch number: 861 and the Loss: 200393.125
Epoch number: 871 and the Loss: 200390.96875
Epoch number: 881 and the Loss: 200388.625
Epoch number: 891 and the Loss: 200384.28125
Epoch number: 901 and the Loss: 200384.921875
Epoch number: 911 and the Loss: 200382.25
Epoch number: 921 and the Loss: 200377.78125
Epoch number: 931 and the Loss: 200374.671875
Epoch number: 941 and the Loss: 200372.046875
Epoch number: 951 and the Loss: 200369.96875
Epoch number: 961 and the Loss: 200365.921875
Epoch number: 971 and the Loss: 200363.84375
Epoch number: 981 and the Loss: 200361.625
Epoch number: 991 and the Loss: 200359.84375
Epoch number: 1001 and the Loss: 200354.421875
Epoch number: 1011 and the Loss: 200350.84375
Epoch number: 1021 and the Loss: 200349.03125
Epoch number: 1031 and the Loss: 200345.015625
Epoch number: 1041 and the Loss: 200344.03125
Epoch number: 1051 and the Loss: 200340.34375
Epoch number: 1061 and the Loss: 200337.78125
Epoch number: 1071 and the Loss: 200334.34375
Epoch number: 1081 and the Loss: 200330.296875
Epoch number: 1091 and the Loss: 200326.15625
Epoch number: 1101 and the Loss: 200324.59375
Epoch number: 1111 and the Loss: 200318.921875
Epoch number: 1121 and the Loss: 200317.0
Epoch number: 1131 and the Loss: 200317.265625
Epoch number: 1141 and the Loss: 200309.859375
Epoch number: 1151 and the Loss: 200306.03125
Epoch number: 1161 and the Loss: 200304.421875
Epoch number: 1171 and the Loss: 200299.265625
Epoch number: 1181 and the Loss: 200296.828125
Epoch number: 1191 and the Loss: 200291.984375
Epoch number: 1201 and the Loss: 200291.328125
Epoch number: 1211 and the Loss: 200285.921875
Epoch number: 1221 and the Loss: 200284.4375
Epoch number: 1231 and the Loss: 200275.5625
Epoch number: 1241 and the Loss: 200272.8125
Epoch number: 1251 and the Loss: 200265.234375
Epoch number: 1261 and the Loss: 200264.625
Epoch number: 1271 and the Loss: 200260.46875
Epoch number: 1281 and the Loss: 200258.359375
Epoch number: 1291 and the Loss: 200253.1875
Epoch number: 1301 and the Loss: 200249.84375
Epoch number: 1311 and the Loss: 200245.140625
Epoch number: 1321 and the Loss: 200238.359375
Epoch number: 1331 and the Loss: 200242.203125
Epoch number: 1341 and the Loss: 200233.609375
Epoch number: 1351 and the Loss: 200228.453125
Epoch number: 1361 and the Loss: 200226.515625
Epoch number: 1371 and the Loss: 200224.09375
Epoch number: 1381 and the Loss: 200218.390625
Epoch number: 1391 and the Loss: 200208.140625
Epoch number: 1401 and the Loss: 200209.171875
Epoch number: 1411 and the Loss: 200200.5625
Epoch number: 1421 and the Loss: 200202.375
Epoch number: 1431 and the Loss: 200199.15625
Epoch number: 1441 and the Loss: 200188.28125
Epoch number: 1451 and the Loss: 200188.3125
Epoch number: 1461 and the Loss: 200180.96875
Epoch number: 1471 and the Loss: 200176.578125
Epoch number: 1481 and the Loss: 200175.84375
Epoch number: 1491 and the Loss: 200164.5
Epoch number: 1501 and the Loss: 200162.3125
Epoch number: 1511 and the Loss: 200152.890625
Epoch number: 1521 and the Loss: 200155.265625
Epoch number: 1531 and the Loss: 200149.0625
Epoch number: 1541 and the Loss: 200141.359375
Epoch number: 1551 and the Loss: 200140.203125
Epoch number: 1561 and the Loss: 200132.171875
Epoch number: 1571 and the Loss: 200128.0625
Epoch number: 1581 and the Loss: 200123.015625
Epoch number: 1591 and the Loss: 200122.421875
Epoch number: 1601 and the Loss: 200115.359375
Epoch number: 1611 and the Loss: 200108.140625
Epoch number: 1621 and the Loss: 200097.6875
Epoch number: 1631 and the Loss: 200097.3125
Epoch number: 1641 and the Loss: 200095.21875
Epoch number: 1651 and the Loss: 200088.328125
Epoch number: 1661 and the Loss: 200087.09375
Epoch number: 1671 and the Loss: 200075.703125
Epoch number: 1681 and the Loss: 200066.78125
Epoch number: 1691 and the Loss: 200066.578125
Epoch number: 1701 and the Loss: 200058.109375
Epoch number: 1711 and the Loss: 200055.40625
Epoch number: 1721 and the Loss: 200052.265625
Epoch number: 1731 and the Loss: 200046.78125
Epoch number: 1741 and the Loss: 200041.015625
Epoch number: 1751 and the Loss: 200039.03125
Epoch number: 1761 and the Loss: 200024.203125
Epoch number: 1771 and the Loss: 200015.9375
Epoch number: 1781 and the Loss: 200012.8125
Epoch number: 1791 and the Loss: 200010.484375
Epoch number: 1801 and the Loss: 200001.75

Epoch number: 1811 and the Loss: 199998.984375
Epoch number: 1821 and the Loss: 199990.609375
Epoch number: 1831 and the Loss: 199989.578125
Epoch number: 1841 and the Loss: 199982.90625
Epoch number: 1851 and the Loss: 199968.375
Epoch number: 1861 and the Loss: 199971.453125
Epoch number: 1871 and the Loss: 199961.796875
Epoch number: 1881 and the Loss: 199952.453125
Epoch number: 1891 and the Loss: 199942.125
Epoch number: 1901 and the Loss: 199942.75
Epoch number: 1911 and the Loss: 199944.3125
Epoch number: 1921 and the Loss: 199932.234375
Epoch number: 1931 and the Loss: 199924.90625
Epoch number: 1941 and the Loss: 199915.140625
Epoch number: 1951 and the Loss: 199913.6875
Epoch number: 1961 and the Loss: 199907.265625
Epoch number: 1971 and the Loss: 199899.484375
Epoch number: 1981 and the Loss: 199901.078125
Epoch number: 1991 and the Loss: 199885.0625
Epoch number: 2001 and the Loss: 199881.703125
Epoch number: 2011 and the Loss: 199868.4375
Epoch number: 2021 and the Loss: 199865.328125
Epoch number: 2031 and the Loss: 199859.15625
Epoch number: 2041 and the Loss: 199852.609375
Epoch number: 2051 and the Loss: 199839.84375
Epoch number: 2061 and the Loss: 199839.5625
Epoch number: 2071 and the Loss: 199838.359375
Epoch number: 2081 and the Loss: 199823.109375
Epoch number: 2091 and the Loss: 199821.34375
Epoch number: 2101 and the Loss: 199815.34375
Epoch number: 2111 and the Loss: 199805.59375
Epoch number: 2121 and the Loss: 199790.859375
Epoch number: 2131 and the Loss: 199795.890625
Epoch number: 2141 and the Loss: 199785.59375
Epoch number: 2151 and the Loss: 199778.015625
Epoch number: 2161 and the Loss: 199776.71875
Epoch number: 2171 and the Loss: 199773.515625
Epoch number: 2181 and the Loss: 199766.609375
Epoch number: 2191 and the Loss: 199752.15625
Epoch number: 2201 and the Loss: 199741.65625
Epoch number: 2211 and the Loss: 199735.0
Epoch number: 2221 and the Loss: 199720.09375
Epoch number: 2231 and the Loss: 199719.578125
Epoch number: 2241 and the Loss: 199696.78125
Epoch number: 2251 and the Loss: 199703.84375
Epoch number: 2261 and the Loss: 199679.34375
Epoch number: 2271 and the Loss: 199684.375
Epoch number: 2281 and the Loss: 199681.046875
Epoch number: 2291 and the Loss: 199670.546875
Epoch number: 2301 and the Loss: 199660.734375
Epoch number: 2311 and the Loss: 199659.078125
Epoch number: 2321 and the Loss: 199652.890625
Epoch number: 2331 and the Loss: 199658.015625
Epoch number: 2341 and the Loss: 199639.0625
Epoch number: 2351 and the Loss: 199619.1875
Epoch number: 2361 and the Loss: 199616.25
Epoch number: 2371 and the Loss: 199607.390625
Epoch number: 2381 and the Loss: 199595.265625
Epoch number: 2391 and the Loss: 199592.453125
Epoch number: 2401 and the Loss: 199587.359375
Epoch number: 2411 and the Loss: 199570.453125
Epoch number: 2421 and the Loss: 199568.9375
Epoch number: 2431 and the Loss: 199555.140625
Epoch number: 2441 and the Loss: 199555.703125
Epoch number: 2451 and the Loss: 199531.34375
Epoch number: 2461 and the Loss: 199524.765625
Epoch number: 2471 and the Loss: 199529.34375
Epoch number: 2481 and the Loss: 199527.40625
Epoch number: 2491 and the Loss: 199524.53125
Epoch number: 2501 and the Loss: 199506.734375
Epoch number: 2511 and the Loss: 199496.703125
Epoch number: 2521 and the Loss: 199476.625
Epoch number: 2531 and the Loss: 199491.84375
Epoch number: 2541 and the Loss: 199473.921875
Epoch number: 2551 and the Loss: 199468.171875
Epoch number: 2561 and the Loss: 199456.5
Epoch number: 2571 and the Loss: 199443.90625
Epoch number: 2581 and the Loss: 199450.40625
Epoch number: 2591 and the Loss: 199441.328125
Epoch number: 2601 and the Loss: 199422.90625
Epoch number: 2611 and the Loss: 199416.640625
Epoch number: 2621 and the Loss: 199427.625
Epoch number: 2631 and the Loss: 199386.171875
Epoch number: 2641 and the Loss: 199385.09375
Epoch number: 2651 and the Loss: 199376.328125
Epoch number: 2661 and the Loss: 199371.6875
Epoch number: 2671 and the Loss: 199354.296875
Epoch number: 2681 and the Loss: 199345.71875
Epoch number: 2691 and the Loss: 199328.921875
Epoch number: 2701 and the Loss: 199341.0
Epoch number: 2711 and the Loss: 199324.3125
Epoch number: 2721 and the Loss: 199323.421875
Epoch number: 2731 and the Loss: 199314.390625
Epoch number: 2741 and the Loss: 199292.140625
Epoch number: 2751 and the Loss: 199266.359375
Epoch number: 2761 and the Loss: 199262.828125
Epoch number: 2771 and the Loss: 199278.71875
Epoch number: 2781 and the Loss: 199257.5625
Epoch number: 2791 and the Loss: 199247.515625
Epoch number: 2801 and the Loss: 199225.25
Epoch number: 2811 and the Loss: 199234.484375
Epoch number: 2821 and the Loss: 199204.8125
Epoch number: 2831 and the Loss: 199212.03125
Epoch number: 2841 and the Loss: 199194.25
Epoch number: 2851 and the Loss: 199180.4375
Epoch number: 2861 and the Loss: 199185.84375
Epoch number: 2871 and the Loss: 199166.625
Epoch number: 2881 and the Loss: 199173.921875
Epoch number: 2891 and the Loss: 199155.53125
Epoch number: 2901 and the Loss: 199133.15625
Epoch number: 2911 and the Loss: 199116.25
Epoch number: 2921 and the Loss: 199120.390625
Epoch number: 2931 and the Loss: 199136.28125
Epoch number: 2941 and the Loss: 199098.125
Epoch number: 2951 and the Loss: 199101.40625
Epoch number: 2961 and the Loss: 199079.28125
Epoch number: 2971 and the Loss: 199056.5625
Epoch number: 2981 and the Loss: 199057.921875
Epoch number: 2991 and the Loss: 199050.59375

In [42]:
# Validating the test data
y_pred = ""
with torch.no_grad():
    y_pred = model(test_categorical, test_cont)
    loss = torch.sqrt(loss_function(y_pred,y_test))
print("RMSE: {}".format(loss))

RMSE: 189606.5

In [43]:
data_verify=pd.DataFrame(y_test.tolist(),columns=["Test"])

In [44]:
data_predicted=pd.DataFrame(y_pred.tolist(),columns=["Prediction"])
data_predicted

      Prediction
0     808.031250
1    1196.393066
2     511.113098
3    2467.094727
4     995.690613
5    1732.424561
6    1976.099121
7    2642.551270
8     392.039642
9    4648.277832
10   1592.492432
11   1414.409058
12   1423.441162
13   -415.748291
14   2418.775146
15   -320.843292
16   1287.135986
17     15.134706
18   2114.137451
19   -332.775604
20   1031.533813
21    456.004456
22    199.209732
23   1125.773926
24    819.705261
25    782.696045
26    561.333435
27   3656.125732
28   1050.235474
29   1166.792358
30   -479.177094
31    457.837616
32   2875.116455
33   -628.934692
34   1740.802246
35    768.778320
36    331.099548
37    174.607758
38   1263.396484
39    -45.711407
40   2281.527588
41   2689.688721
42   -262.882141
43   1225.402100
44   1272.870483
45    -12.096446
46   -154.283081
47    522.356689
48     24.857729
49   3359.235107
50    364.281158
51   2910.823975
52   2054.309326
53    742.366272
54   2656.990234
55   2141.335938
56    206.519760
57    366.940216
58   2064.691650
59    963.100159
60   4196.768066
61   -108.322159
62   1491.436646
63   2092.240723
64   1178.004883
65     -5.648473
66    628.849976
67   2067.771729
68   -627.864929
69   2494.135986
70  -1116.550049
71   -843.385620
72   -598.970825
73   1994.677979
74   1330.195801
75   1614.141602
76    381.680847
77   -173.105667
78     -1.820022
79    -88.341797
80    810.108948
81    449.687866
82   -821.098633
83   2148.978760
84   -119.241653
85    194.224503
86    941.923035
87    792.198914
88   1584.579346
89   -360.753815
90   3235.798096
91    302.987701
92   1341.687500
93   1031.755249
94    -60.794731
95   3980.019287
96   1721.163818
97   3623.356445
98   2949.447021
99   1985.479126
100  1041.440918
101  -357.125153
102  2245.206787
103    91.308205
104  1672.696533
105  -415.863312
106  1301.019775
107  2586.349854
108  1629.203613
109  2609.509277
110  -837.491943
111   970.387268
112 -1059.863037
113   988.306091
114  -782.619507
115   793.531311
116  -205.312210
117 -1008.779602
118  3914.856689
119  1710.794434
120  2851.138916
121  -180.614365
122  1492.296753
123    86.913078
124  -103.389885
125   905.945190
126  1469.740356
127  4130.687012
128   183.254715
129   452.898376
130   465.841125
131  -615.931763
132  1532.685669
133  1200.242676
134  2119.841309
135  -235.208145
136  2291.572754
137  -214.728836
138  -188.745956
139  2645.324951
140  2298.499756
141   647.467651
142  -348.500946
143  3258.119385
144   627.450867
145  1815.210938
146   280.454895
147   365.464325
148   681.317200
149   226.152634
150   -27.266777
151   826.363098
152  2208.999268
153   550.152954
154  -610.410645
155  2922.229736
156   -88.267929
157  1400.080200
158   807.239746
159   822.394531
160  -477.305023
161  4390.449219
162   -90.003349
163  1207.527588
164  2082.676514
165  3175.255615
166  1427.972046
167    -0.546576
168  3026.108643
169    43.213936
170 -1008.945557
171   166.583923
172  2133.593018
173   236.466553
174  1087.347168
175  1226.476440
176  1179.454590
177  2035.836548
178  2334.789795
179   620.317139

In [45]:
# Output
final_output=pd.concat([data_verify,data_predicted],axis=1)
final_output['Difference']=final_output['Test']-final_output['Prediction']
final_output.head()

       Test   Prediction     Difference
0  130000.0   808.031250  129191.968750
1  138887.0  1196.393066  137690.606934
2  175500.0   511.113098  174988.886902
3  195000.0  2467.094727  192532.905273
4  142500.0   995.690613  141504.309387

### Saving The Model

In [46]:
torch.save(model,'HousePrice.pt')

C:\Users\SWARNAVA\anaconda3\envs\pytorch\lib\site-packages\torch\serialization.py:402: UserWarning: Couldn't retrieve source code for container of type FeedForwardNN. It won't be checked for correctness upon loading.
  "type " + obj.__name__ + ". It won't be checked "

In [47]:
torch.save(model.state_dict(),'HouseWeights.pt')

### Loading the saved model

In [48]:
embs_size=[(15, 8), (5, 3), (2, 1), (4, 2)]
model1=FeedForwardNN(embs_size,5,1,[100,50],p=0.4)

In [49]:
model1.load_state_dict(torch.load('HouseWeights.pt'))

In [50]:
model1.eval()

FeedForwardNN(
  (embeds): ModuleList(
    (0): Embedding(15, 8)
    (1): Embedding(5, 3)
    (2): Embedding(2, 1)
    (3): Embedding(4, 2)
  )
  (emb_drop): Dropout(p=0.4, inplace=False)
  (bn_cont): BatchNorm1d(5, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=19, out_features=100, bias=True)
    (1): ReLU(inplace=True)
    (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Dropout(p=0.4, inplace=False)
    (4): Linear(in_features=100, out_features=50, bias=True)
    (5): ReLU(inplace=True)
    (6): BatchNorm1d(50, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (7): Dropout(p=0.4, inplace=False)
    (8): Linear(in_features=50, out_features=1, bias=True)
  )
)